<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>welcome in html</h2>>
    <p> this is my first html project</p>
     
    <table>
        <thead>
            <tr>
                <th>name </th>
                <th>rollnumber </th>
                <th>section </th>
                <th>class </th>
            <tr>
                <hr></hr>
    
        </thead>
        <tbody>
            <tr>
                <td> ayush</td>
                <td>24</td>
                <td>a</td>
                <td>10th</td>
            </tr>
            <tr>
                <td> diksha</td>
                <td>25</td>
                <td>a</td>
                <td>10th</td> 
            </tr>
            <tr>
                <td> Neha</td>
                <td>25</td>
                <td>a</td>
                <td>10th</td> 
            </tr>
        <tbody>
        <tfoot>
            <tr>
                <th rowspan="3"> good students</th>
            </tr>
        </tfoot>
    </table>
    <image src=""></image>
</body>
</html>